RewriteEngine on
RewriteCond %{REQUEST_URI} ^(?!/files/images).*
RewriteCond %{REQUEST_URI} ^(?!/files/sounds).*
RewriteRule ^(.*)$ index.php?q=$1 [L]
RewriteRule %{REQUEST_FILENAME} !-d
RewriteRule %{REQUEST_FILENAME} !-f